.container{
    display:flex;
    flex-direction: column;
    margin:5%;
    gap:10px;
}

.notFoundH1{
    font-size: 2em;
}

.notFoundH2{
    font-size: 1.25em;
    font-weight: thin;
}

.dashboardButton{
    background-color: black;
    max-width: fit-content;
}