
.logo {
  font-family: 'Saira Stencil One';
  z-index: 1;
  color: black;
}

.landingContainer{
  text-align: center;
  width: 100%;
  max-width: 100%;
  
}

.landingLogo{
  width: 35vw;
  /* max-width: 100vw; */
  position: absolute;
}

.image {
  margin-top: 0;
  right: 0;
  top: 0;
  z-index: 0;
  width: 100vw;
  background-image: contain;
}

.imageDesktop {
  display:none;
}

.imageMedium {
  display:none;
}
.imageMediumLarge{
  display:none;
}

.welcome {
  display: flex;
  gap: 0.5rem;
  padding: .5rem;
  font-family: 'Inter';
  font-size: 20px;
  font-weight: 900;
  justify-content: center;
  align-items: center;
}

.landingButton{
  width: 200px;
  max-width: 100vw;
  margin-top: 10px;
  margin-bottom: 10px;
  box-shadow: 0 3px #888888;
}

.landingFooter{
  opacity: 0.5;
  text-align: center;
  width: 100%;
  max-width: 100%;
}

.landingDetails{
  margin-top: 30px;
  margin-bottom: 10px;
}



/* when the screen is wider than 800px */
/* @media screen and (min-width: 800px)  and (max-width:1200px){
  .landingContainer{
    display:flex;
    flex-direction: row;
    justify-content: center;
    height:100vh;
  }
  .image{
    display:none
  }
  .imageMediumLarge{
    display:none;
  }
  .imageDesktop{
    display: none;
  }
  .imageMedium{
    display:inline-block;
    width:100%;
  }
  .landingLogo{
    width:30vw;
    position: absolute;
    left:0vw;
  }
  .landingLogoContainer{
    flex:1;
    margin:auto;
  }
  .detailsContainer{
    display:flex;
    flex-direction: column;
    flex:1;
    margin:auto;
  }
  .detailsBox{
    display:flex;
    flex-direction: column;
    justify-content: center;
    flex:1;
    margin:auto;
    padding:3vw 4vw;
    border:2px solid #000;
    border-radius: 20px;
  }
  .landingButton{
    display: block;
    margin:auto;
    margin-top: 10px;
    margin-bottom: 10px;
  }


} */

@media screen and (min-width: 1000px) {
  .landingContainer{
    display: grid;
    grid-template-columns: 50vw 50vw;
    position: relative;
    height:100vh;
  }
  .landingLogoContainer{
    grid-column:1;
    grid-row:1;
    z-index:-1;
    /* height:100vh; */
  }
  .image{
    display:none;
  }
  .imageMedium{
    display:none;
  }
  .imageMediumLarge{
    display:inline-block;
    max-height:100vh;
    z-index:-1;
    object-fit:fill;
  }
  .imageDesktop{
    display:none;
  }
  .landingLogo{
    width: 24vw;
    max-width: 400px;
    position: absolute;
  }
  .detailsContainer{
    grid-column: 2;
    grid-row:1;
    display:flex;
    flex-direction: column;
    
  }
  .detailsBox{
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    padding:3vw 4vw;
    border:2px solid #000;
    border-radius: 20px;
    background-color: #ffffff;
  }
  .landingButton{
    display: block;
    margin:auto;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

/* @media screen and (min-width: 1800px){
  .landingContainer{
    display: grid;
    grid-template-columns: 50vw 50vw;
    position: relative;
    height:100vh;
  }
  .landingLogoContainer{
    grid-column:1;
    grid-row:1;
    z-index:-1;
  }
  .image{
    display:none;
  }
  .imageMedium{
    display:none;
  }
  .imageMediumLarge{
    display:none;
  }
  .imageDesktop{
    display:inline-block;
    max-height:100vh;
    z-index:-1;
    object-fit:fill;
  }
  .landingLogo{
    width: 24vw;
    position: absolute;
  }
  .detailsContainer{
    grid-column: 2;
    grid-row:1;
    display:flex;
    flex-direction: column;
    justify-content: center;
    width: 50vw;
    z-index: 1;
  }
  .landingButton{
    display: block;
    margin:auto;
    margin-top: 10px;
    margin-bottom: 10px;
  }
} */