body {
  overflow-x: hidden;
}

/*if you want something to be one color in light mode and another color in dark mode,
use the same variable name in both sections, but use different values,
then use the color variable in the appropriate css file

example
----------
:root{
    --myColor:#ff0088;
}
[data-theme='dark]{
    --myColor:#0066ff;
}

<- name.module.css ->
element{
    background-color:var(--myColor);
}
-----------

*/

/*variable colors for light mode*/
:root {
  /*These colors are for use in this file, use descriptive names like
    --dashboard-button-text for variables that will be used in other files*/

  /* good for large elements like sections, cards, buttons in dark mode
    good for text in light mode */
  --gray6: #1e1e1e;
  --gray5: #353535;
  --gray4: #4e4e4e;
  /* good for large elements like section, card, buttons in light mode
    good for text in dark mode */
  --gray3: #696969;
  --gray2: #858585;
  --gray1: #a1a1a1;
  --gray0: #f2f2f2;

  --purpleS:#CF91F3; /*for light mode*/
  --purpleG:#CAA0E3;  /*for dark mode*/

  /*default background color*/
  --background: #ffffff;
  background-color: var(--background);

  /* dashboard page */
  --dashboard-header-background: var(--gray6);
  --dashboard-header-text:var(--gray0);
  --dashboard-background:var(--background);
  --dashboard-search-background: var(--gray0);
  --dashboard-search-text:var(--gray6);
  --dashboard-search-placeholder-text:var(--gray4);
  /* --dashboard-filter-background:var(--gray6);
  --dashboard-filter-text:var(--gray0); */
  --dashboard-filter-background:var(--purpleS);
  --dashboard-filter-text:var(--gray6);
  --dashboard-note-background:var(--background);
  --dashboard-note-text:var(--gray5);
  /* --dashboard-note-border:var(--gray0); */
  --dashboard-note-border:var(--purpleS);
  --dashboard-note-hover-background:var(--gray0);
  --dashboard-add-button-hover-background:var(--gray6);

  --sidebar-background:var(--background);

  /* editor page*/
  --editor-header-background: var(--gray6);
  --editor-header-text:var(--gray0);
  --editor-background: white;
  --editor-text: var(--gray5);
  /*editor toolbar*/
  --editor-toolbar-text: var(--gray4); 
  --editor-placeholder-text: var(--gray4);
  --editor-toolbar-active: var(--purpleS); /*this should be on the darker side and a similar hue as the var in dark-theme*/
  --editor-toolbar-background: var(--gray0);
  --caret: var(--gray5);

  /* loading page */
  --loading-background: white;
  --loading-text:var(--gray3);
}

/*variable colors for dark theme*/
[data-theme='dark'] {
  /*default background color*/
  --background: var(--gray6);
  background-color: var(--background);

  /* dashboard page */
  --dashboard-header-background: var(--gray5);
  --dashboard-header-text:white;
  --dashboard-background:var(--gray6);
  --dashboard-search-background:var(--gray5);
  --dashboard-search-text:var(--gray0);
  --dashboard-search-placeholder-text:var(--gray1);
  /* --dashboard-filter-background:var(--gray5);
  --dashboard-filter-text:var(--gray0); */
  --dashboard-filter-background:var(--purpleG);
  --dashboard-filter-text:var(--gray6);
  --dashboard-note-background:var(--background);
  --dashboard-note-text:var(--gray0);
  /* --dashboard-note-border:var(--gray5); */
  --dashboard-note-border:var(--purpleG);
  --dashboard-note-hover-background:var(--gray5);
  --dashboard-add-button-hover-background:var(--gray4);

  --sidebar-background:var(--background);
  

  /* editor page*/
  --editor-header-background: var(--gray5);
  --editor-header-text:var(--gray0);
  --editor-background: var(--gray6);
  --editor-text: var(--gray1);
  /*editor toolbar*/
  --editor-toolbar-text: var(--gray1);
  --editor-placeholder-text: var(--gray3);
  --editor-toolbar-active: var(--purpleG); /*this should be on the lighter side and a similar hue as the var in light-theme*/
  --editor-toolbar-background: var(--gray5);
  --caret: var(--gray1);

  /* loading page */
  --loading-background: var(--gray6);
  --loading-text:var(--gray1);
}



/* NOTE: these styles for the quill editor must be applied in this file, when they are applied in the editor file it doesn't work*/
/* Other styles should work fine in their own css files, quilljs is weird and I could only get it to work this way*/

/* This is for changing the color of the placeholder text in the Quill .ql-editor.ql-blank::before*/
.ql-editor.ql-blank::before {
  color: var(--editor-placeholder-text);
}
/* This is for changing the color of the text in the toolbar (e.g. the word Normal)*/
.ql-snow .ql-picker {
  color: var(--editor-toolbar-text);
}
/* This the the color of the icons in the toolbar*/
.ql-snow .ql-stroke {
  stroke: var(--editor-toolbar-text);
}
/*This is the color of the toolbar icons when they are selected*/
.ql-snow.ql-toolbar button:hover,
.ql-snow .ql-toolbar button:hover,
.ql-snow.ql-toolbar button:focus,
.ql-snow .ql-toolbar button:focus,
.ql-snow.ql-toolbar button.ql-active,
.ql-snow .ql-toolbar button.ql-active,
.ql-snow.ql-toolbar .ql-picker-label:hover,
.ql-snow .ql-toolbar .ql-picker-label:hover,
.ql-snow.ql-toolbar .ql-picker-label.ql-active,
.ql-snow .ql-toolbar .ql-picker-label.ql-active,
.ql-snow.ql-toolbar .ql-picker-item:hover,
.ql-snow .ql-toolbar .ql-picker-item:hover,
.ql-snow.ql-toolbar .ql-picker-item.ql-selected,
.ql-snow .ql-toolbar .ql-picker-item.ql-selected {
  color: var(--editor-toolbar-active);
}
.ql-snow.ql-toolbar button:hover .ql-stroke,
.ql-snow .ql-toolbar button:hover .ql-stroke,
.ql-snow.ql-toolbar button:focus .ql-stroke,
.ql-snow .ql-toolbar button:focus .ql-stroke,
.ql-snow.ql-toolbar button.ql-active .ql-stroke,
.ql-snow .ql-toolbar button.ql-active .ql-stroke,
.ql-snow.ql-toolbar .ql-picker-label:hover .ql-stroke,
.ql-snow .ql-toolbar .ql-picker-label:hover .ql-stroke,
.ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-stroke,
.ql-snow .ql-toolbar .ql-picker-label.ql-active .ql-stroke,
.ql-snow.ql-toolbar .ql-picker-item:hover .ql-stroke,
.ql-snow .ql-toolbar .ql-picker-item:hover .ql-stroke,
.ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-stroke,
.ql-snow .ql-toolbar .ql-picker-item.ql-selected .ql-stroke,
.ql-snow.ql-toolbar button:hover .ql-stroke-miter,
.ql-snow .ql-toolbar button:hover .ql-stroke-miter,
.ql-snow.ql-toolbar button:focus .ql-stroke-miter,
.ql-snow .ql-toolbar button:focus .ql-stroke-miter,
.ql-snow.ql-toolbar button.ql-active .ql-stroke-miter,
.ql-snow .ql-toolbar button.ql-active .ql-stroke-miter,
.ql-snow.ql-toolbar .ql-picker-label:hover .ql-stroke-miter,
.ql-snow .ql-toolbar .ql-picker-label:hover .ql-stroke-miter,
.ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-stroke-miter,
.ql-snow .ql-toolbar .ql-picker-label.ql-active .ql-stroke-miter,
.ql-snow.ql-toolbar .ql-picker-item:hover .ql-stroke-miter,
.ql-snow .ql-toolbar .ql-picker-item:hover .ql-stroke-miter,
.ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-stroke-miter,
.ql-snow .ql-toolbar .ql-picker-item.ql-selected .ql-stroke-miter {
  color: var(--editor-toolbar-active);
}
.ql-snow.ql-toolbar button:hover .ql-fill,
.ql-snow .ql-toolbar button:hover .ql-fill,
.ql-snow.ql-toolbar button:focus .ql-fill,
.ql-snow .ql-toolbar button:focus .ql-fill,
.ql-snow.ql-toolbar button.ql-active .ql-fill,
.ql-snow .ql-toolbar button.ql-active .ql-fill,
.ql-snow.ql-toolbar .ql-picker-label:hover .ql-fill,
.ql-snow .ql-toolbar .ql-picker-label:hover .ql-fill,
.ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-fill,
.ql-snow .ql-toolbar .ql-picker-label.ql-active .ql-fill,
.ql-snow.ql-toolbar .ql-picker-item:hover .ql-fill,
.ql-snow .ql-toolbar .ql-picker-item:hover .ql-fill,
.ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-fill,
.ql-snow .ql-toolbar .ql-picker-item.ql-selected .ql-fill,
.ql-snow.ql-toolbar button:hover .ql-stroke.ql-fill,
.ql-snow .ql-toolbar button:hover .ql-stroke.ql-fill,
.ql-snow.ql-toolbar button:focus .ql-stroke.ql-fill,
.ql-snow .ql-toolbar button:focus .ql-stroke.ql-fill,
.ql-snow.ql-toolbar button.ql-active .ql-stroke.ql-fill,
.ql-snow .ql-toolbar button.ql-active .ql-stroke.ql-fill,
.ql-snow.ql-toolbar .ql-picker-label:hover .ql-stroke.ql-fill,
.ql-snow .ql-toolbar .ql-picker-label:hover .ql-stroke.ql-fill,
.ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-stroke.ql-fill,
.ql-snow .ql-toolbar .ql-picker-label.ql-active .ql-stroke.ql-fill,
.ql-snow.ql-toolbar .ql-picker-item:hover .ql-stroke.ql-fill,
.ql-snow .ql-toolbar .ql-picker-item:hover .ql-stroke.ql-fill,
.ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-stroke.ql-fill,
.ql-snow .ql-toolbar .ql-picker-item.ql-selected .ql-stroke.ql-fill {
  fill: var(--editor-toolbar-active);
}
.ql-snow.ql-toolbar button:hover .ql-stroke,
.ql-snow .ql-toolbar button:hover .ql-stroke,
.ql-snow.ql-toolbar button:focus .ql-stroke,
.ql-snow .ql-toolbar button:focus .ql-stroke,
.ql-snow.ql-toolbar button.ql-active .ql-stroke,
.ql-snow .ql-toolbar button.ql-active .ql-stroke,
.ql-snow.ql-toolbar .ql-picker-label:hover .ql-stroke,
.ql-snow .ql-toolbar .ql-picker-label:hover .ql-stroke,
.ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-stroke,
.ql-snow .ql-toolbar .ql-picker-label.ql-active .ql-stroke,
.ql-snow.ql-toolbar .ql-picker-item:hover .ql-stroke,
.ql-snow .ql-toolbar .ql-picker-item:hover .ql-stroke,
.ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-stroke,
.ql-snow .ql-toolbar .ql-picker-item.ql-selected .ql-stroke,
.ql-snow.ql-toolbar button:hover .ql-stroke-miter,
.ql-snow .ql-toolbar button:hover .ql-stroke-miter,
.ql-snow.ql-toolbar button:focus .ql-stroke-miter,
.ql-snow .ql-toolbar button:focus .ql-stroke-miter,
.ql-snow.ql-toolbar button.ql-active .ql-stroke-miter,
.ql-snow .ql-toolbar button.ql-active .ql-stroke-miter,
.ql-snow.ql-toolbar .ql-picker-label:hover .ql-stroke-miter,
.ql-snow .ql-toolbar .ql-picker-label:hover .ql-stroke-miter,
.ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-stroke-miter,
.ql-snow .ql-toolbar .ql-picker-label.ql-active .ql-stroke-miter,
.ql-snow.ql-toolbar .ql-picker-item:hover .ql-stroke-miter,
.ql-snow .ql-toolbar .ql-picker-item:hover .ql-stroke-miter,
.ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-stroke-miter,
.ql-snow .ql-toolbar .ql-picker-item.ql-selected .ql-stroke-miter {
  stroke: var(--editor-toolbar-active);
}
/* color of the toolbar icons when they are 'unselected' */
.ql-snow.ql-toolbar button:hover:not(.ql-active),
.ql-snow .ql-toolbar button:hover:not(.ql-active) {
  color: var(--editor-toolbar-text);
}
.ql-snow.ql-toolbar button:hover:not(.ql-active) .ql-stroke,
.ql-snow .ql-toolbar button:hover:not(.ql-active) .ql-stroke,
.ql-snow.ql-toolbar button:hover:not(.ql-active) .ql-stroke-miter,
.ql-snow .ql-toolbar button:hover:not(.ql-active) .ql-stroke-miter {
  stroke: var(--editor-toolbar-text);
}
.ql-snow.ql-toolbar button:hover:not(.ql-active) .ql-fill,
.ql-snow .ql-toolbar button:hover:not(.ql-active) .ql-fill,
.ql-snow.ql-toolbar button:hover:not(.ql-active) .ql-stroke.ql-fill,
.ql-snow .ql-toolbar button:hover:not(.ql-active) .ql-stroke.ql-fill {
  fill: var(--editor-toolbar-text);
}
/*This the the color of the border of the header/normal when selected*/
.ql-toolbar.ql-snow .ql-picker.ql-expanded .ql-picker-label {
  border-color: var(--editor-toolbar-text);
}
/*This is to remove the default border around the toolbar, change the bckground color of the toolbar, and round the edges of the toolbar*/
.ql-toolbar.ql-snow {
  border: none;
  background-color: var(--editor-toolbar-background);
  border-radius: 20px;
}
/*This removes the border around the text input area*/
.ql-container.ql-snow {
  border: none;
  flex-grow: 1;
}

.offcanvasDarkMode {
  background-color: var(--gray4);
}



[data-theme='dark'] .offcanvasDarkMode {
  background-color: var(--gray5);
}



/* Dark mode styles for the Quill editor's content area */
.ql-editor{
    color:var(--editor-text)
}



.list-group-item:first-child{
  border:none;
  border-radius: 0px;
  border-bottom: var(--dashboard-note-border) 1px solid;
}
.list-group-item + .list-group-item{
  border:none;
  border-radius: 0px;
  border-bottom: var(--dashboard-note-border) 1px solid;
}
.list-group-item:last-child{
  border:none;
  border-radius: 0px;
  border-bottom: var(--dashboard-note-border) 1px solid;
}

/*webcam styling*/
video{
  max-width: 400px;
  max-height: 400px;
  width:100%;
  height:auto;
}
.webcamModal .modal-header{
  background-color: var(--gray6);
  border:none;
}
.webcamModal .modal-body{
  background-color:var(--gray6);
}




/* sideBar styles */
.sideBar-dark{
  background-color: var(--gray6);
}
.sideBar-light{
  background-color: #ffffff;
}
/*background color of sidebar*/
.sideBar-dark .sideBarHeader{
  background-color: var(--gray6);
}
.sideBarHeader button:focus{
  box-shadow: none;
}

.sideBar-light .sideBarHeader{
  background-color:white;
}
/*new category input*/
.sideBar-dark input{
  background-color:var(--gray5);
  color:var(--gray0);
}
.sideBar-dark input::placeholder{
  color:var(--gray1);
}
.sideBar-dark input:focus{
  background-color:var(--gray5);
  border:none;
  box-shadow: none;
  color:var(--gray0);
}
.sideBar-light input{
  background-color:var(--gray0);
}
.sideBar-light input::placeholder{
  color:var(--gray3);
}
.sideBar-light input:focus{
  background-color:white;
  border:var(--gray1) 1.5px solid;
  box-shadow: none;
  color:var(--gray6);
}
/*list of categories*/
.sideBar-dark .categoriesText{
  color:var(--gray1);
  background-color: var(--gray6);
}
.sideBar-light .categoriesText{
  color:var(--gray5);
  background-color: white;
}
.sideBar-dark .sideBarCatContainer{
  background-color: var(--gray6);
  border:none;
}
.sideBar-dark .sideBarCatContainer a:hover{
  color:var(--purpleG);
}
.sideBar-light .sideBarCatContainer{
  background-color: white;
  border:none;
}
.sideBar-light .sideBarCatContainer a:hover{
  color:var(--purpleS);
}
.sideBar-dark .sideBarCatLink{
  color:var(--gray1);
}
/*delete category button*/
.sideBar-dark .deleteButton{
  color:var(--gray2);
}
.sideBar-dark .deleteButton:hover{
  color:var(--gray0);
}
.sideBar-light .deleteButton{
  color:var(--gray2);
}
.sideBar-light .deleteButton:hover{
  color:var(--gray5);
}
/*new category form */
.sideBar-dark .newCategoryContainer{
  background-color: var(--gray6);
}
.sideBar-light .newCategoryContainer{
  background-color: white;
}
/*new category button*/
.sideBar-dark .newCategoryButton{
  background-color: transparent;
  color:var(--gray1)
}
.sideBar-light .newCategoryButton{
  background-color: transparent;
  color:var(--gray3);
}
.sideBar-dark .newCategoryButton:hover,
.sideBar-dark .newCategoryButton:active{
  background-color:transparent;
  color:var(--gray0);
}
.sideBar-light .newCategoryButton:hover,
.sideBar-light .newCategoryButton:active{
  background-color:transparent;
  color:var(--gray6);
}
/*sidebar bottom buttons (dark mode toggle and logout)*/
.sideBar-dark .sideBarBottomButton{
  color:var(--gray1);
}
.sideBar-dark .sideBarBottomButton:hover,
.sideBar-dark .sideBarBottomButton:active{
  color:var(--gray0);
}
.sideBar-light .sideBarBottomButton{
  color:var(--gray3);
}
.sideBar-light .sideBarBottomButton:hover,
.sideBar-light .sideBarBottomButton:active{
  color:var(--gray6);
}

.btn-check:checked + .btn, :not(.btn-check) + .btn:active, .btn:first-child:active, .btn.active, .btn.show{
  background-color: var(--dashboard-add-button-hover-background);
  box-shadow: none;
}